body{
background-color: white;
color:black ;
font-family: "bai jamjuree",sans-serif;
display:flex;
justify-content:center;
align-items: center ;
height: 700px;
margin:0;
}

button{
background-color:#3E3E3E ;
color:#000000 ;
font-family: 'Courier New', Courier, monospace;

}

.passo{
display: none;
}

.passo.ativo {
display:block ;
}

main{
text-align: center;
max-width: 90%;
}

img {
max-width: 90%;
}





